.eparent {
    /* border: 3px solid #f6f6f6; */
    /* padding: 1vmax; */
    display: flex;
    flex-direction: row;
    /* flex-basis: 2vmax; */
}

/* .ebaby-left {
    width: 15%;
    float: left;
    padding: 1rem;
} */

.ebaby-right {
    width: 85%;
    float: right;
    padding: 0.5rem;
    margin: 3rem 4rem;
    /* padding-top: 0.5rem; */
    /* padding-left: 0rem; */
    /* border: 1rem solid rgb(63, 159, 94); */
}

.ebaby-right div {
    display: flex;
    justify-content: space-between;
}

.ebaby-right div h2 {
    font-size: 2rem;
}

.ebaby-right div button {
    width: 14vmax;
    height: 3vmax;
    font-size: 1rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    /* margin-right: 1.5rem;
    margin-top: 2rem; */
    /* padding: unset; */
    color: white;
    background-color: #3b4d7c;
    border-radius: 0.5rem;
}

.eadd-button button {
    width: 20rem;
    height: 3rem;
}

.form-detail {
    width: 70%;
    height: auto;
    /* margin: 1.5rem auto; */
    margin: 1.5em 8rem
}

form {
    /* position: relative; */
    margin: 0;
    width: 100%;
    font-size: 15px;
}

input[type=text],
input[type=date],
select,
textarea {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin-top: 6px; */
    margin-bottom: 16px;

    resize: vertical;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(175, 172, 172, 0.981);
    margin-left: 0rem;

}

th,
td {
    text-align: left;
    padding: 8px;
    /* color: black */
}

th {
    color: gray;
    background-color: rgb(239, 244, 244);
}

tr:nth-child(even) {
    background-color: #f7fafa;


}

tr {
    border-bottom: 1px solid #ccc;
}

td {
    color: black;
    font-size: 1vmax;
}


label {
    width: 25%;
    margin-right: 5%;
}


@media screen and (max-width:600px) {
    td {
        font-size: 3vmax;
    }

    th {
        font-size: 1.15rem;
    }

    nav {
        display: flex;
    }

    label {
        width: 45%;
        /* margin-right: 5%; */
    }

    form {

        font-size: 16px;
    }

    .ebaby-right {
        margin: 3rem 1rem;
    }

    .ebaby-right div {
        flex-direction: column;
        margin: 0;
    }

    .ebaby-right div button {
        margin-bottom: 2rem;
        width: 26vmax;
        height: 6vmax;
    }

    .ebaby-right div h2 {
        font-size: 1.8rem;
    }
}