.wparent {
    /* border: 3px solid #f6f6f6; */
    /* padding: 1vmax; */
    display: flex;
    flex-direction: row;
    /* flex-basis: 2vmax; */
}

/* .ebaby-left {
    width: 15%;
    float: left;
    padding: 1rem;
} */

.wbaby-right {
    width: 85%;
    float: right;
    padding: 0.5rem;
    margin: 3rem 4rem;
    /* padding-top: 0.5rem; */
    /* padding-left: 0rem; */
    /* border: 1rem solid rgb(63, 159, 94); */
}

.wbaby-right div {
    display: flex;
    justify-content: space-between;
}

.wbaby-right div h2 {
    font-size: 2rem;
}

.wbaby-right div button {
    width: 14vmax;
    height: 3vmax;
    font-size: 1rem;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    /* margin-right: 1.5rem;
    margin-top: 2rem; */
    /* padding: unset; */
    color: white;
    background-color: #3b4d7c;
    border-radius: 0.5rem;
}

.wadd-button button {
    width: 20rem;
    height: 3rem;
}


@media screen and (max-width:600px) {
    td {
        font-size: 3vmax;
    }

    th {
        font-size: 1.15rem;
    }

    nav {
        display: flex;
    }

    .wbaby-right {
        margin: 3rem 1rem;
    }

    .wbaby-right div {
        flex-direction: column;
        margin: 0;
    }

    .wbaby-right div button {
        margin-bottom: 2rem;
        width: 26vmax;
        height: 6vmax;
    }

    .wbaby-right div h2 {
        font-size: 1.8rem;
    }
}